<p class="codepen codepen-embed"
  data-slug-hash="{{codepenSlug}}"
  data-pen-title="{{codepenTitle}}"
  data-height="{{#if codepenHeight}}{{codepenHeight}}{{else}}400{{/if}}"
  data-theme-id="dark"
  data-default-tab="result"
  data-user="desandro"
  data-embed-version="2">
  <a href="https://codepen.io/desandro/pen/{{codepenSlug}}">
    Edit demo <em>{{codepenTitle}}</em> on CodePen
  </a>
</p>
